@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?dg8tfe');
    src: url('fonts/icomoon.eot?dg8tfe#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?dg8tfe') format('truetype'), url('fonts/icomoon.woff?dg8tfe') format('woff'), url('fonts/icomoon.svg?dg8tfe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-cool:before {
    content: "\e904";
}

.icon-distractions:before {
    content: "\e905";
}

.icon-reddit:before {
    content: "\1125";
}

.icon-timer:before {
    content: "\1126";
}

.icon-headset:before {
    content: "\e906";
}

.icon-fast-forward:before {
    content: "\e907";
}

.icon-allow:before {
    content: "\1080";
}

.icon-angelics:before {
    content: "\1081";
}

.icon-bars:before {
    content: "\1082";
}

.icon-bottomleft:before {
    content: "\1084";
}

.icon-bottomright:before {
    content: "\1085";
}

.icon-close:before {
    content: "\1086";
}

.icon-collapse:before {
    content: "\1087";
}

.icon-damage:before {
    content: "\1088";
}

.icon-dark:before {
    content: "\1089";
}

.icon-dots:before {
    content: "\1090";
}

.icon-down:before {
    content: "\1091";
}

.icon-download:before {
    content: "\1092";
}

.icon-expand:before {
    content: "\1093";
}

.icon-externallink:before {
    content: "\1094";
}

.icon-github:before {
    content: "\1095";
}

.icon-help:before {
    content: "\1096";
}

.icon-hide:before {
    content: "\1097";
}

.icon-left:before {
    content: "\1099";
}

.icon-light:before {
    content: "\1100";
}

.icon-listen:before {
    content: "\1101";
}

.icon-listening:before {
    content: "\1102";
}

.icon-more:before {
    content: "\1103";
}

.icon-mute:before {
    content: "\1104";
}

.icon-no:before {
    content: "\1105";
}

.icon-play:before {
    content: "\1106";
}

.icon-ready:before {
    content: "\1107";
}

.icon-recover:before {
    content: "\1108";
}

.icon-right:before {
    content: "\1109";
}

.icon-send:before {
    content: "\1111";
}

.icon-settings:before {
    content: "\1112";
}

.icon-shield:before {
    content: "\1113";
}

.icon-show:before {
    content: "\1114";
}

.icon-signin:before {
    content: "\1115";
}

.icon-signout:before {
    content: "\1116";
}

.icon-signup:before {
    content: "\1117";
}

.icon-swap:before {
    content: "\1118";
}

.icon-topleft:before {
    content: "\1119";
}

.icon-topright:before {
    content: "\1120";
}

.icon-twitch:before {
    content: "\1121";
}

.icon-twitter:before {
    content: "\1122";
}

.icon-up:before {
    content: "\1123";
}

.icon-wait:before {
    content: "\1124";
}

.icon-limits:before {
    content: "\e908";
}

.icon-unlock:before {
    content: "\e900";
}

.icon-lock:before {
    content: "\e901";
}

.icon-middle:before {
    content: "\e902";
}

.icon-center:before {
    content: "\e903";
}

.icon-arc:before {
    content: "\1003";
}

.icon-audiocallouts:before {
    content: "\1004";
}

.icon-axe:before {
    content: "\1005";
}

.icon-birdbranch:before {
    content: "\1006";
}

.icon-birddive:before {
    content: "\1007";
}

.icon-birdfly:before {
    content: "\1008";
}

.icon-birdstand:before {
    content: "\1009";
}

.icon-bomb:before {
    content: "\1010";
}

.icon-buff:before {
    content: "\1011";
}

.icon-chalice:before {
    content: "\1013";
}

.icon-chat:before {
    content: "\1014";
}

.icon-cup:before {
    content: "\1016";
}

.icon-detonate:before {
    content: "\1017";
}

.icon-dog:before {
    content: "\1018";
}

.icon-dotcircle:before {
    content: "\1019";
}

.icon-droptheorb:before {
    content: "\1020";
}

.icon-educate:before {
    content: "\1021";
}

.icon-empowered:before {
    content: "\1022";
}

.icon-eye:before {
    content: "\1023";
}

.icon-fireleft:before {
    content: "\1025";
}

.icon-fireright:before {
    content: "\1026";
}

.icon-fishcurl:before {
    content: "\1027";
}

.icon-fishfish:before {
    content: "\1028";
}

.icon-fishleft:before {
    content: "\1029";
}

.icon-fishup:before {
    content: "\1030";
}

.icon-gorgon:before {
    content: "\1033";
}

.icon-gosbuff:before {
    content: "\1034";
}

.icon-group:before {
    content: "\1036";
}

.icon-heavy:before {
    content: "\1038";
}

.icon-key:before {
    content: "\1042";
}

.icon-kinetic:before {
    content: "\1043";
}

.icon-knight:before {
    content: "\1044";
}

.icon-lwempty:before {
    content: "\1045";
}

.icon-monitor:before {
    content: "\1047";
}

.icon-outbreak:before {
    content: "\1048";
}

.icon-paypal:before {
    content: "\1051";
}

.icon-rock:before {
    content: "\1052";
}

.icon-run:before {
    content: "\1053";
}

.icon-session:before {
    content: "\1054";
}

.icon-sherpa:before {
    content: "\1055";
}

.icon-snake8:before {
    content: "\1057";
}

.icon-snakei:before {
    content: "\1058";
}

.icon-snakes:before {
    content: "\1059";
}

.icon-snakew:before {
    content: "\1060";
}

.icon-solar:before {
    content: "\1062";
}

.icon-spearhands:before {
    content: "\1063";
}

.icon-spearneck:before {
    content: "\1064";
}

.icon-stairs:before {
    content: "\1065";
}

.icon-stt:before {
    content: "\1066";
}

.icon-sun:before {
    content: "\1067";
}

.icon-super:before {
    content: "\1068";
}

.icon-taken:before {
    content: "\1069";
}

.icon-tree:before {
    content: "\1072";
}

.icon-tts:before {
    content: "\1073";
}

.icon-usercircle:before {
    content: "\1076";
}

.icon-void:before {
    content: "\1078";
}

.icon-windows:before {
    content: "\1079";
}