.labelText {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100%;
  padding: 0;
  transition: all 0.5s linear;
}

.labelTextError {
  display: block;
  font-size: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  max-width: 100%;
  padding: 0;
  position: absolute;
  transform: translate(0, -1rem);
}

.labelTextTip {
  display: block;
  font-size: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100%;
  padding: 0;
  position: absolute;
  transform: translate(0.55rem, -3rem);
}

.labelTextTipActive {
  display: block;
  font-size: 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  max-width: 100%;
  padding: 0;
  position: absolute;
  transform: translate(0, -1rem);
}

.inputSingleWrapper {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  max-width: 100%;
  min-width: 260px;
}

.inputGuildWrapper {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  max-width: 100%;
  min-width: 260px;
}

.inputSingleWrapper .input {
  background-color: transparent;
  border: none !important;
  color: inherit;
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none !important;
  width: 100%;
}

.inputGuildWrapper .input {
  background-color: transparent;
  border: none !important;
  color: inherit;
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none !important;
  width: 100%;
}

.inputGuildWrapper .labelButton {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  justify-content: center;
  min-width: 2rem;
  user-select: none;
}

.inputGuildWrapper button.labelButton {
  border: none;
  outline: none;
}

.inputGuildWrapper .labelTag {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  justify-content: center;
  min-width: 2rem;
  user-select: none;
  width: fit-content;
}

.inputSingleWrapper:focus-within {
  outline-offset: -2px;
  outline: 2px solid blue;
}

.inputGuildWrapper:focus-within {
  outline-offset: -2px;
  outline: 2px solid blue;
}

.inputSingleWrapper:focus-within ~ .labelTextTip {
  font-size: 0.75rem;
  transform: translate(0, -1rem);
}

.inputGuildWrapper:focus-within ~ .labelTextTip {
  font-size: 0.75rem;
  transform: translate(0, -1rem);
}

.inputSingleWrapperNoFocus {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  max-width: 100%;
  min-width: 260px;
}

.inputGuildWrapperNoFocus {
  border: 1px solid;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  max-width: 100%;
  min-width: 260px;
}

.inputSingleWrapperNoFocus .input {
  background-color: transparent;
  border: none !important;
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none !important;
  width: 100%;
}

.inputGuildWrapperNoFocus .input {
  background-color: transparent;
  border: none !important;
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
  outline: none !important;
  width: 100%;
}

.inputSingleWrapperNoFocus:focus-within ~ .labelTextTip {
  font-size: 0.75rem;
  transform: translate(0, -1rem);
}

.inputGuildWrapperNoFocus:focus-within ~ .labelTextTip {
  font-size: 0.75rem;
  transform: translate(0, -1rem);
}

.inputGuildWrapper:active,
.inputSingleWrapper:active,
.inputGuildWrapperNoFocus:active,
.inputSingleWrapperNoFocus:active {
  outline: none;
}

.inputGuildWrapperNoFocus {
  display: flex;
}

.inputGuildWrapperNoFocus .labelButton {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  justify-content: center;
  min-width: 2rem;
  user-select: none;
}

.inputGuildWrapperNoFocus button.labelButton {
  border: none;
  outline: none;
}

.inputGuildWrapperNoFocus .labelTag {
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  justify-content: center;
  min-width: 2rem;
  user-select: none;
  width: fit-content;
}

.input:-webkit-autofill {
  -webkit-background-clip: text;
  animation-name: onAutoFillStart;
  background-clip: text !important;
  color: white !important;
}

.input:-webkit-autofill.inverted {
  -webkit-background-clip: text;
  animation-name: onAutoFillStart;
  background-clip: text !important;
  color: white !important;
  filter: invert(1);
}

@keyframes onAutoFillStart {
}
